body {
  background: rgba(0, 0, 0, 0.3);
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 121px;
  display: flex;
  justify-content: center;
}

.form__box {
  width: 645px;
  background: white;
}

.banner {
  background: #fad312;
  border: solid 6px #fad312;
}

.form__content {
  box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
  padding: 54px 42px;
}

.event__information {
  line-height: 2.1em;
  font-size: 12px;
}

.required {
  color: red;
  line-height: 4.2em;
  font-size: 14px;
}

.question {
  padding-top: 10px;
}

.question__word {
  display: inline-block;
  margin: 25px 0px;
  font-weight: bold;
}

.required__mark {
  display: inline-block;
  color: red;
}

label {
  line-height: 2.5em;
  font-size: 12px;
  margin-left: 4px;
  cursor: pointer;
}

.question__description {
  font-size: 12px;
  margin: -13px 0px 28px 0px;
}

.submit__button {
  padding: 13px 30px;
  background: #fad312;
  border: 0px;
  border-radius: 3px;
  width: 98px;
  text-align: center;
  margin: 60px 0px 20px 0px;
  font-size: 12px;
  transition: transform 0.2s;
  cursor: pointer;
  font-weight: bold;
}

.submit__button:hover {
  transform: scale(1.1);
}

.warning {
  font-size: 12px;
}

footer {
  background: #000000;
  font-size: 13px;
  text-align: center;
  color: #999999;
  border-top: solid 3px #fad312;
  padding: 30px;
}

@media(max-width: 645px) {

  .form__box {
    width: 380px;
    background: white;
  }

  h1 {
    text-align: center;
  }

  .event__information {
    text-align: center;
  }
}